---
title: jazwa
layout: base.njk
---

<div style="margin-bottom:2rem;">
  <h1><i>Thunks(WIP)</i></h1>
  <p>Projects &amp; writings by Zhao (Jack) Wang/王钊.</p>
</div>

<div class="cols">
  <div>
    <h2>About</h2>
    <p>Toronto, Ontario, Canada</p>
    <p>jazwang(at)pm.me </p>
  </div>

  <div>
    <h2>Corp</h2>
    <p>Experience within backend and data (the backend's backend) systems. Don't make me say the <strong>A</strong>(dot)<strong>I</strong> words!</p>
    <nav>
      <a href="">🗎Resume (currently broken)</a>
      <a href="https://github.com/jazwa">Github</a>

    </nav>
  </div>

  <div>
    <h2>Current Work</h2>
    <p><a href="https://tare.to/user/intro?dist=1">TARE</a>! A trust-based restaurant review site.</p>
    <p>A cherry tool chest based very roughly on <a href="https://www.finewoodworking.com/project-guides/shop-projects/tool-chest-with-drawers">this</a>.</p>
  </div>


  <div>
    <h2>Selected Projects</h2>
    <nav>
      <a href="https://tare.to">TARE</a>
      <a href="https://github.com/jazwa/rackstack">Rackstack</a>
    </nav>
  </div>

  <div>
    <h2>Woodworking</h2>
    <nav>
      <a href="/page/shaker-endtable/">🖼 Shaker Endtable</a>
      <a href="/page/figurine-shelf/">🖼 Figurine Shelf</a>
      <a href="/page/sharpening/">🖼 Sharpening Setup</a>
    </nav>
  </div>

</div>

