---
title: jazwa
layout: base.njk
---

<h1>jazwa</h1>
<p>personal projects &amp; writings</p>
<nav>
  <a href="/page/shaker-endtable/">Shaker Endtable</a>
  <a href="/page/figurine-shelf/">Figurine Shelf</a>
</nav>
