---
title: jazwa
layout: base.njk
---

<div style="margin-bottom:1rem;">
  <h1><i>Thunks</i></h1>
  <p>Projects &amp; writings by Zhao (Jack) Wang/王钊.</p>
</div>

<div class="cols">
  <div>
    <h2>About</h2>
    <p>Toronto, Ontario, Canada</p>
    <p>jazwang(at)pm.me</p>
  </div>

  <div>
    <h2>Selected Projects</h2>
    <ul>
      <li><a href="/page/tare/">TARE</a></li>
      <li><a href="/page/rackstack/">Rackstack</a></li>
      <li><a href="/page/woodworking/">Woodworking</a></li>
    </ul>
  </div>

  <div>
    <h2>Corp</h2>
    <p><a href="/page/corp/">Experience and résumé</a></p>
  </div>
</div>
